body {
	cursor:url('../images/bug.png'), move;
}

.topPanel {
	width:98%;
	height:250px;
	background-color:black;
	position:fixed;
	border-style:groove;
	border-color:#00CC33;
	border-width:12px;
}



.leftPanel {
	width:250px;
	height:100%;
	background-color:black;
	position:fixed;
	top:280px;
	
}
.leftPanel .navigation li {
    background-image: url("../images/boards.png");
	color:black;
	font:40px arial;
	font-weight: bold;
	margin-top:8%;
	margin-bottom:8%;
}

#splitter {
	height:150px;
	margin-top: 10%;
	margin-left:5px;
}

#splitter .pane {
	width:50%;
	height:100%;
	float:left;
}

#picPane {
	overflow:auto;

}

#contentPane {
	overflow:auto;
	
}

#overlay {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background:black url('../images/loader.gif') no-repeat scroll center center;
}

#contentPane .inner {

}

#picPane .inner img{
	width:30%;
	height:14%;
}

.crooked {
	-webkit-transform: rotate(-15deg);
	-moz-transform: rotate(-15deg);
	-ms-transform: rotate(-15deg);
	-o-transform: rotate(-15deg);
	transform: rotate(-15deg);

}


.topPanel .bugLogo img {
	position:absolute;
	top:0px;
	left:40%;
}
.topPanel .bugImage img {
	width:250px;
	height:250px;
}

.topPanel .navigation {
	position:absolute;
}
.topPanel .navigation li{
	display:inline;
	border-style:groove;
	border-width:5px;
	border-color:white;
	color:white;
	font:40px arial;
	top:50%;
	left:0px;
}

.main {
	position:fixed;
	top:281px;
	left:258px;
	width:100%;
	height:100%;
	background-color:#00CC33;
	
}

.pane {
	width:50%;
	height:100%;
	float:left;
	position:absolute;
}

#description {
	font-size: 35px;
	left:250px;
}

#data {

}

#data th {
	font-size:40px;

}

#data td {
	font-size:35px;
}


ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

