.leftPanel {
	width:250px;
	height:900px;
	background-color:green;
}
.leftPanel .navigation2 li {
	border-style:groove;
	border-width:5px;
	border-color:white;
	color:white;
	font:40px arial;
	position:relative;
}

.topPanel {
	width:1700px;
	height:250px;
	background-color:green;
}
.topPanel .bugLogo img {
	position:relative;
	top:-250px;
	left:800px;
}
.topPanel .bugImage img {
	width:250px;
	height:250px;
}
.topPanel .navigation li {
	display:inline;
	border-style:groove;
	border-width:5px;
	border-color:white;
	color:white;
	font:40px arial;
	position:relative;
	top:-300px;
	left:250px;
}

.main {
	position:relative;
	top:-900px;
	left:250px;
	color:black;
	
}

.pane {
	width:50%;
	height:100%;
	float:left;
}

#description textarea{
	font-size: 35px;
}


#data th {
	font-size:40px;

}

#data td {
	font-size:35px;
}


ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

